html, body {
  margin:0;
  padding:0;
  height:100%;
  font-size:14px;
}

.appbody {
  margin-left:10px;
  margin-right:10px;
  padding-top:41px;
  padding-bottom:55px;
}

h2 {
  font-size:18px;
  clear:left;
}

h3 {
  font-size:15px;
  clear:left;
}
 
nav a {
  display:block;
  width:20%;
  float:left;
  margin:auto;
  padding-top:5px;
  padding-bottom:3px;
  text-align:center;
  font-size:11px;
  color:#999;
}

nav a .glyphicon {
  display:block;
  font-size:20px;
  margin-bottom:-2px;
}

nav a [class*=" icon-"] {
  display:block;
}

.navbar {
  min-height:0;
}

.navbar .navbar-header {
  width:100%;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
}

nav a.active {
  color:#BD934F;
}

nav a:hover {
  text-decoration:none;
  color:#BD934F;
}

.slideleft .view-animate.ng-enter {
  position:relative;
  -webkit-transition: all 0.2s ease-out;
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  transition: all 0.2s ease-out;
  left:100%;
}

.slideleft .view-animate.ng-enter.ng-enter-active {
  left:0;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.slideright .view-animate.ng-enter {
  position:relative;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  left:-100%;
}

.slideright .view-animate.ng-enter.ng-enter-active {
  left:0;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.navbar-default {
  background-color:#eee;
  border:none;
  min-height:43px;
}

.navbar>.container .navbar-brand {
  text-align:center;
  float:none;
  color:#BD934F;
  margin:0;
  padding:0;
}

.navbar>.container .navbar-brand h1 {
  margin:0;
  padding:0;
  float:none;
}

.list-group {
  margin-left:-10px;
  margin-right:-10px;
}

.list-group-item {
  overflow:auto;
  padding-left:10px;
}

.list-group-item img {
  line-height:18px;
  height:40px;
  width:40px;
  float:left;
  padding-top:4px;
  padding-right:5px;
}

.list-group-item.completed {
  color:#bbb;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg') format('svg');
}

header a, header a:hover {
  position:absolute;
  text-decoration:none;
  color:#BD934F;  
} 

header a.prev, header a.left {
  left:10px;
  top:11px;
  z-index:1500;
}

header a.next, header a.right {
  right:10px;
  top:11px;
}

.form-horizontal .btn {
  margin-top:15px;
}

.btn {
  width:100%;
}

.ng-pristine .btn-success {
  display:none;
}

.ng-dirty .btn-danger {
  display:none;
}

.content-padded {
  padding-top:1px;
  padding-bottom:1px;
}

.fieldLabel
{
  float:left;
  width:50%;
  font-weight:bold;
  clear:both;
}

.fieldInfo
{
  float:right;
  width:50%;
}

.form-horizontal {
  margin-top:10px;
}

.form-group {
  margin-bottom:3px;
}

.form-control {
  padding-top:0;
  padding-bottom:0;
  padding-left:3px;
  float:left;
  width:58%;
}

textarea.form-control, input[type="text"].form-control, input[type="number"].form-control, input[type="date"].form-control, select.form-control {
  -webkit-box-shadow:none;
  box-shadow:none;
  -webkit-appearance:none;
  height:34px;
}

textarea.form-control {
  height:70px;
}

input[type="checkbox"].form-control {
  height:20px;
  margin-top:10px;
}

/*input[type="text"]:focus, textarea.form-control:focus, input[type="date"]:focus, input[type="number"]:focus, select.form-control:focus {
    border-color: rgba(189, 147, 79, 0.8);
    box-shadow: 0 1px 1px rgba(189, 147, 79, 0.075) inset, 0 0 8px rgba(189, 147, 79, 0.6);
    outline: 0 none;
}*/


.form-horizontal .control-label {
  padding-top:9px;
  width:37%;
  float:left;
  clear:left;
  padding-right:15px;
  text-align:right;
}

.overview .overview-row {
  overflow:auto;
  border-bottom:1px solid #999;
}

.overview .overview-row:last-child {
  border-bottom:none;
}

.overview-row div {
  display:inline-block;
  border-right:1px solid #999;
  padding-left:0px;
  padding-right:10px;
  float:left;
  width:50%;
  box-sizing:border-box;
}

.overview-row div:last-child {
  border-right:none;
  padding-left:10px;
  padding-right:0px;
}

.overview .large {
  font-size:24px;
  font-weight:bold;
}

.trend-down:before {
  content:'\25bc';
  color:red;
}

.trend-up:before {
  content:'\25b2';
  color:green;
}

.view img {
  float:right;
  padding-left:10px;
  width:150px;
  height:150px;
}

.view div {
  margin-bottom:5px;
}

.facebook-login {
  margin-top:40px;
  text-align:center;
}

.facebook-login img {
  height:30px;
}

#spinner {  
    width:100%;
    height:100%;
    background-color:black;
    z-index:1000;
    opacity:0.8;
    position:fixed;
    padding-top:150px;
}

.complete {
  color: green;
  font-size: 22px;
}

#login-logo {
}

#login-logo img {
  max-width:300px;
  margin:auto;
  display:block;
  padding-top:20px;
  padding-bottom:20px;
}

.growl {
  position:relative;
  z-index:1000;
  top:30px;
}

.diagram {
  float:left;
}