<!DOCTYPE html>
<html ng-app="GuitarJournalApp">
  <head>
    <meta charset="utf-8">
    <title>OG Journal</title>

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Set Apple icons for when prototype is saved to home screen -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/app/touch-icons/og-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/app/touch-icons/og-72.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/app/touch-icons/og-57.png">

    <!-- iPhone -->
    <link href="/app/img/splash.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image">
    <!-- iPhone 5 -->
    <link href="/app/img/splash-640x1096.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">

    <!-- iPhone (Retina) -->
    <!--<link rel="apple-touch-startup-image" href="http://www.example.com/mobile/images/apple-startup-iPhone-RETINA.jpg" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)">-->

    <!-- iPhone 5 -->
    <!--<link rel="apple-touch-startup-image" href="http://www.example.com/mobile/images/apple-startup-iPhone-Tall-RETINA.jpg"  media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)">-->

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular-cookies.min.js"></script>
    <script src="/app/all.js"></script>
    <link rel="stylesheet" href="/app/all.css">

    <script type="text/javascript">
      var addToHomeConfig = {
        message: 'To install this app, add it to you home screen.'
      };
    </script>
    <script>
      function facebookAuth() {
        window.location = "/auth/facebook";
        return false;
      }

      if (window.location.hash == '#_=_'){
        window.location.hash = '';
    }
    </script>
    <style>
      #floatingCirclesG{
      position:relative;
      width:128px;
      height:128px;
      -moz-transform:scale(0.6);
      -webkit-transform:scale(0.6);
      -o-transform:scale(0.6);
      -ms-transform:scale(0.6);
      transform:scale(0.6);
      }

      .f_circleG{
      position:absolute;
      background-color:#000000;
      height:23px;
      width:23px;
      -moz-border-radius:12px;
      -moz-animation-name:f_fadeG;
      -moz-animation-duration:1.04s;
      -moz-animation-iteration-count:infinite;
      -moz-animation-direction:linear;
      -webkit-border-radius:12px;
      -webkit-animation-name:f_fadeG;
      -webkit-animation-duration:1.04s;
      -webkit-animation-iteration-count:infinite;
      -webkit-animation-direction:linear;
      -o-border-radius:12px;
      -o-animation-name:f_fadeG;
      -o-animation-duration:1.04s;
      -o-animation-iteration-count:infinite;
      -o-animation-direction:linear;
      -ms-border-radius:12px;
      -ms-animation-name:f_fadeG;
      -ms-animation-duration:1.04s;
      -ms-animation-iteration-count:infinite;
      -ms-animation-direction:linear;
      border-radius:12px;
      animation-name:f_fadeG;
      animation-duration:1.04s;
      animation-iteration-count:infinite;
      animation-direction:linear;
      }

      #frotateG_01{
      left:0;
      top:52px;
      -moz-animation-delay:0.39s;
      -webkit-animation-delay:0.39s;
      -o-animation-delay:0.39s;
      -ms-animation-delay:0.39s;
      animation-delay:0.39s;
      }

      #frotateG_02{
      left:15px;
      top:15px;
      -moz-animation-delay:0.52s;
      -webkit-animation-delay:0.52s;
      -o-animation-delay:0.52s;
      -ms-animation-delay:0.52s;
      animation-delay:0.52s;
      }

      #frotateG_03{
      left:52px;
      top:0;
      -moz-animation-delay:0.65s;
      -webkit-animation-delay:0.65s;
      -o-animation-delay:0.65s;
      -ms-animation-delay:0.65s;
      animation-delay:0.65s;
      }

      #frotateG_04{
      right:15px;
      top:15px;
      -moz-animation-delay:0.78s;
      -webkit-animation-delay:0.78s;
      -o-animation-delay:0.78s;
      -ms-animation-delay:0.78s;
      animation-delay:0.78s;
      }

      #frotateG_05{
      right:0;
      top:52px;
      -moz-animation-delay:0.91s;
      -webkit-animation-delay:0.91s;
      -o-animation-delay:0.91s;
      -ms-animation-delay:0.91s;
      animation-delay:0.91s;
      }

      #frotateG_06{
      right:15px;
      bottom:15px;
      -moz-animation-delay:1.04s;
      -webkit-animation-delay:1.04s;
      -o-animation-delay:1.04s;
      -ms-animation-delay:1.04s;
      animation-delay:1.04s;
      }

      #frotateG_07{
      left:52px;
      bottom:0;
      -moz-animation-delay:1.17s;
      -webkit-animation-delay:1.17s;
      -o-animation-delay:1.17s;
      -ms-animation-delay:1.17s;
      animation-delay:1.17s;
      }

      #frotateG_08{
      left:15px;
      bottom:15px;
      -moz-animation-delay:1.3s;
      -webkit-animation-delay:1.3s;
      -o-animation-delay:1.3s;
      -ms-animation-delay:1.3s;
      animation-delay:1.3s;
      }

      @-moz-keyframes f_fadeG{
      0%{
      background-color:#FFFFFF}

      100%{
      background-color:#000000}

      }

      @-webkit-keyframes f_fadeG{
      0%{
      background-color:#FFFFFF}

      100%{
      background-color:#000000}

      }

      @-o-keyframes f_fadeG{
      0%{
      background-color:#FFFFFF}

      100%{
      background-color:#000000}

      }

      @-ms-keyframes f_fadeG{
      0%{
      background-color:#FFFFFF}

      100%{
      background-color:#000000}

      }

      @keyframes f_fadeG{
      0%{
      background-color:#FFFFFF}

      100%{
      background-color:#000000}

      }
      </style>
      <style>
      #floatingCirclesG {
        margin:auto;
      }
      </style>
  </head>
  <body ng-controller="AppCtrl">
  <div id="spinner" ng-show="apiStatus.loading">
    <div id="floatingCirclesG">
    <div class="f_circleG" id="frotateG_01">
    </div>
    <div class="f_circleG" id="frotateG_02">
    </div>
    <div class="f_circleG" id="frotateG_03">
    </div>
    <div class="f_circleG" id="frotateG_04">
    </div>
    <div class="f_circleG" id="frotateG_05">
    </div>
    <div class="f_circleG" id="frotateG_06">
    </div>
    <div class="f_circleG" id="frotateG_07">
    </div>
    <div class="f_circleG" id="frotateG_08">
    </div>
    </div></div>
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      // init the FB JS SDK
      FB.init({
        appId      : '151038621732407',                        // App ID from the app dashboard
        channelUrl : '//journal.osirisguitar.com/channel.html', // Channel file for x-domain comms
        //channelUrl: '//jdev.osirisguitar.com:1337/app/channel.html',
        status     : true,                                 // Check Facebook Login status
        xfbml      : true                                  // Look for social plugins on the page
      });


      FB.login(function(data) {
        console.log(data);
      });
      // Additional initialization code such as adding Event Listeners goes here
      FB.getLoginStatus(function(response) {
        if (response.status === 'connected') {
          console.log("FB connected!");
        } else if (response.status === 'not_authorized') {
          console.log("FB not authorized");
        } else {
          console.log("FB not logged in...");
        }
       });
    };

    // Load the SDK asynchronously
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/all.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));

    function postToFB(sessionId) {
      console.log("Posting to FB");
      var body = 'Testelitest';
      FB.api('me/ogjournal:complete', 'post',
        {
          practice_session: "http://journal.osirisguitar.com/api/practicesession/" + sessionId,
          "fb:explicitly_shared":"true"
        },
        function(response) {
          if (!response || response.error) {
            alert('Error occured');
            console.log(response);
          } else {
            alert('Your session was shared to Facebook!');
          }
        });
      return false;
    }

    function fbLogout() {
      FB.logout(function (response) {
        console.log(response);
      });
    }
  </script>

  <!-- Make sure all your bars are the first things in your <body> -->
  <header class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <a class="button-prev" href="javascript:history.back();" ng-show="pageSettings.showBackButton">
        Back
      </a>
      <div class="navbar-header">
        <h1 class="navbar-brand">{{pageSettings.pageTitle}}</h1>
      </div>
      <a class="button" ng-show="pageSettings.rightButtonText != null" ng-click="pageSettings.rightButtonClick()">
        {{pageSettings.rightButtonText}}
      </a>
    </div>
  </header>
  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" ng-show="!pageSettings.hideNavigation">
    <a class="{{pageSettings.active == 'home' && 'active' || ''}}" href="/">
      <img class="tab-icon" src="/app/img/tab-bar/home.png"><br>
      <span class="tab-label">Home</span>
    </a>
    <a href="/sessions" class="{{pageSettings.active == 'sessions' && 'active' || ''}}">
      <img class="tab-icon" src="/app/img/tab-bar/list.png"><br>
      <span class="tab-label">Sessions</span>
    </a>
    <a href="/goals" class="{{pageSettings.active == 'goals' && 'active' || ''}}">
      <img class="tab-icon" src="/app/img/tab-bar/goals.png">
      <div class="tab-label">Goals</div>
    </a>
    <a href="/stats" class="{{pageSettings.active == 'stats' && 'active' || ''}}">
      <img class="tab-icon" src="/app/img/tab-bar/stats.png">
      <div class="tab-label">Stats</div>
    </a>
    <a href="/profile" class="{{pageSettings.active == 'profile' && 'active' || ''}}">
      <img class="tab-icon" src="/app/img/tab-bar/profile.png">
      <div class="tab-label">Profile</div>
    </a>
  </nav>

  <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
  <div class="content">
      <ng-view></ng-view>
  </div>

  <script id="login.html" type="text/ng-template">
    <div class="input-group" ng-show="false">
      <div class="input-row">
        <label>Email</label>
        <input ng-model="email" type="email"/>
      </div>
      <div class="input-row">
        <label>Password</label>
        <input type="password" ng-model="password" />
      </div>
    </div>
    <div id="login-logo">
      <img src="/about/og-logo.png">
    </div>
    <div class="content-padded">
      <h2>Welcome to the OSIRIS GUITAR Journal</h2>
      <p>
      Get started right away by logging in with your Facebook account. This app will use your name and email address to create an account, never give the information away to anyone else and only post things to your timeline when you choose.</p>
    </div>
    <a class="button-block" ng-click="login()" ng-show="false">Login</a>
    <div class="facebook-login">
      <a href="/auth/facebook" onclick="facebookAuth();"><img height="40" src="/app/img/facebook.png"></a>
    </div>
  </script>

  <script id="home.html" type="text/ng-template">
    <h2 class="padded">{{profile.fullName}}</h2>
    <div class="content-padded overview" ng-show="Sessions.sessions.length > 0">
      <div class="overview-row">
        <div>
          Sessions/week<br>
          <span class="large" ng-class="{'trend-up':weekStats.totalSessions > statsOverview.sessionsPerWeek,'trend-down': weekStats.totalSessions < statsOverview.sessionsPerWeek}">{{statsOverview.sessionsPerWeek || "" }}</span>
        </div>
        <div>
          Average duration<br>
          <span class="large" ng-class="{'trend-up':weekStats.averageLength > statsOverview.averageLength,'trend-down': weekStats.averageLength < statsOverview.averageLength}">{{statsOverview.averageLength | suffix:" min"}}</span>          
        </div>
      </div>
      <div class="overview-row">
        <div>
          Average rating<br>
          <span class="large" ng-class="{'trend-up':weekStats.averageRating > statsOverview.averageRating,'trend-down': weekStats.averageRating < statsOverview.averageRating}">{{statsOverview.averageRating || ""}}</span>          
        </div>
        <div>
          Active goals<br>
          <span class="large">{{Goals.getActiveGoals().length}}</span>
        </div>
      </div>
    </div>
    <div ng-cloak class="content-padded" ng-show="Goals.getActiveGoals().length == 0 || !Instruments.instruments || Instruments.instruments.length == 0 || !Sessions.sessions || Sessions.sessions.length == 0">
      <h2>Get started!</h2>
      1. Add a goal <span ng-show="Goals.getActiveGoals().length > 0" class="complete">&#x2713;</span><br>
      <a href="/goal/" ng-show="Goals.getActiveGoals().length == 0" class="button-positive button-block">Add goal</a>
      2. Add an instrument <span ng-show="Instruments.instruments && Instruments.instruments.length > 0" class="complete">&#x2713;</span><br>
      <a href="/instrument/" ng-show="!Instruments.instruments || Instruments.instruments.length == 0" class="button-positive button-block">Add instrument</a>
      3. Log a practice session <span ng-show="Sessions.sessions && Sessions.sessions.length > 0" class="complete">&#x2713;</span><br>
      <a href="/session/" ng-show="!Sessions.sessions || Sessions.sessions.length == 0" class="button-positive button-block">New session</a>
    </div>
    <h2 class="padded">Latest sessions</h2>
    <ul class="list inset">
      <li ng-repeat="session in Sessions.sessions | take:3">
        <a href="/session/{{session._id}}">
          <img ng-src="{{Instruments.getInstrumentImageData(session.instrumentId)}}">
          <strong>{{session.date | date:'yyyy-MM-dd'}}: {{session.length}} min {{getInstrumentName(session.instrumentId)}}</strong><br>
          {{session.goalId && Goals.getGoalTitle(session.goalId) + " " || ""}}{{session.location && " (" + session.location + ") "  || ""}}
          <span class="chevron"></span>
        </a>
      </li>
    </ul>
    <a href="/session/" class="button-block inset">New session</a>
    <h2 class="padded">Instruments</h2>
    <ul class="list inset">
      <li>
        <a href="/profile">
          <img ng-src="{{Instruments.getInstrumentImageData(instrument._id)}}" ng-repeat="instrument in Instruments.instruments | take:5">
          <span class="chevron"></span>
        </a>
      </li>
    </ul>
  </script>

  <script id="sessions.html" type="text/ng-template">
    <ul class="list">
      <li ng-repeat="session in Sessions.sessions">
        <a href="/session/{{session._id}}">
          <img ng-src="{{Instruments.getInstrumentImageData(session.instrumentId)}}">
          <strong>{{session.date | date:'yyyy-MM-dd'}}: {{session.length}} min. {{getInstrumentName(session.instrumentId)}}</strong><br>
          {{session.goalId && Goals.getGoalTitle(session.goalId) + " " || ""}}{{session.location && " (" + session.location + ") "  || ""}}
          <span class="chevron"></span>
        </a>
      </li>
    </ul>
    <a class="button-block" ng-click="Sessions.getSessions(true)">Load more</a>
  </script>

  <script id="session.html" type="text/ng-template">
    <h2 class="padded">{{session.date | date:'yyyy-MM-dd'}}, {{session.length}} minutes</h2>
    <div class="content-padded view" ng-show="!editMode">
      <img ng-src="{{Instruments.getInstrumentImageData(session.instrumentId)}}">
      <div>
        <div>
          <b>Goal</b><br>
          {{Goals.getGoalTitle(session.goalId)}} {{session.goalContribution}}
        </div>
        <div>
          <b>Other gear</b><br>
          {{session.gear}}
        </div>
        <div>
          <b>Rating</b><br>
          {{session.rating}}
        </div>
        <div>
          <b>Location</b><br>
          {{session.location}}
        </div>
        <div>
          <b>Notes</b><br>
          {{session.notes}}
        </div>
      </div>
    </div>
    <div class="facebook-login" ng-show="!editMode">
      <a href="" onclick="postToFB('{{session._id}}')"><img height="40" src="/app/img/facebook-share.png"></a>
    </div>
    <div class="input-group" ng-show="editMode">
      <div class="input-row">
        <label>Date</label>
        <input type="date" ng-model="session.date" ng-disabled="!editMode" />
      </div>
      <div class="input-row">
        <label>Duration (min)</label>
        <input type="number" ng-model="session.length" ng-disabled="!editMode" />
      </div>
      <div class="input-row">
        <label>Goal</label>
        <select ng-model="session.goalId" ng-disabled="!editMode">
          <option ng-repeat="goal in Goals.goals" value="{{goal._id}}" ng-selected="session.goalId == goal._id">{{goal.title}}</option>
        </select>
      </div>
      <div class="input-row">
        <label>Goal contribution (%)</label>
        <input type="number" ng-model="session.goalContribution" ng-disabled="!editMode" />
      </div>
      <div class="input-row">
        <label>Instrument</label>
        <select ng-model="session.instrumentId" ng-disabled="!editMode">
          <option ng-repeat="instrument in Instruments.instruments" value="{{instrument._id}}" ng-selected="session.instrumentId == instrument._id">{{instrument.name}}</option>
        </select>
      </div>
      <div class="input-row">
        <label>Other gear</label>
        <input type="text" ng-model="session.gear" ng-disabled="!editMode" />
      </div>
      <div class="input-row">
        <label>Rating</label>
        <input type="number" ng-model="session.rating" ng-disabled="!editMode" />
      </div>
      <div class="input-row">
        <label>Location</label>
        <input type="text" ng-model="session.location" ng-disabled="!editMode" />
      </div>
      <div class="input-row">
        <label>Notes</label>
        <textarea ng-disabled="!editMode" ng-model="session.notes"></textarea>
      </div>
    </div>
    <a class="button-positive button-block" ng-click="save()" ng-show="editMode">Save</a>
    <a class="button-negative button-block" ng-click="delete()" ng-show="editMode && session._id">Delete</a>
  </script>

  <script id="goals.html" type="text/ng-template">
    <ul class="list">
      <li ng-repeat="goal in Goals.goals" class="{{goal.completed && 'completed' || ''}}">
        <a href="/goal/{{goal._id}}">
          <strong>{{goal.title}}</strong><br>
          {{goal.description}}
          <span class="chevron"></span>
        </a>
      </li>
    </ul>
  </script>
  
  <script id="goal.html" type="text/ng-template">
    <div class="content-padded" ng-show="!editMode">
      <h2>{{goal.title}} ({{goal.complete && '' || 'not ' }}complete)</h2>
      {{goal.description}}
    </div>
    <div class="input-group" ng-show="editMode">
      <div class="input-row">
        <label>Title</label>
        <input type="text" ng-model="goal.title" ng-disabled="!editMode" />
      </div>
      <div class="input-row">
        <label>Description</label>
        <textarea ng-disabled="!editMode" ng-model="goal.description"></textarea>
      </div>
      <div class="input-row">
        <label>Complete</label>
        <input type="checkbox" ng-model="goal.completed" ng-change="goal.completionDate = getDate()" ng-disabled="!editMode" />
      </div>
    </div>
    <a class="button-positive button-block" ng-click="save()" ng-show="editMode">Save</a>
    <a class="button-negative button-block" ng-click="delete()" ng-show="editMode">Delete</a>
  </script>

  <script id="stats.html" type="text/ng-template">
    <div class="content-padded" ng-show="statsOverview.totalSessions > 0">
      <h2>Sessions</h2>
      <div class="label">Total sessions:</div>
      <div class="info">{{statsOverview.totalSessions}}</div>
      <div class="label">Total time:</div>
      <div class="info">{{Math.floor(statsOverview.totalLength / 60)}} hours, {{statsOverview.totalLength % 60}} minutes</div>
      <div class="label">Average duration:</div>
      <div class="info">{{statsOverview.averageLength}} minutes</div>
      <div class="label">Average rating:</div>
      <div class="info">{{statsOverview.averageRating}}</div>
      <div class="label">Sessions per week:</div>
      <div class="info">{{statsOverview.sessionsPerWeek}}</div>      
      <div class="label">Latest session:</div>
      <div class="info">{{statsOverview.latestSession | date:'yyyy-MM-dd'}}</div> 
    </div>
    <div class="content-padded">
      <h2>Sessions per week</h2>
      <canvas barchart options="optionsWeek" data="sessionsPerWeek" id="sessionsPerWeek" width="270" height="200"></canvas>    
    </div>
    <div class="content-padded">
      <h2>Minutes per week</h2>
      <canvas barchart options="optionsWeek" data="minutesPerWeek" id="minutesPerWeek" width="270" height="200"></canvas>    
    </div>
    <div class="content-padded">
      <h2>Durations last 30 days</h2>
      <canvas barchart options="options30days" data="last30days" id="last30days" width="270" height="200"></canvas>    
    </div>
    <div class="content-padded">
      <h2>Sessions per weekday</h2>
      <canvas donutchart options="optionsPerWeekday" data="perWeekday" id="perWeekday" width="200" height="200" style="float:left;"></canvas>
      <div style="float:left;margin-top:20px;margin-left:15px;">
        <div><span style="color:{{weekdayColors[1]}}">&#9724;</span> Mon</div>
        <div><span style="color:{{weekdayColors[2]}}">&#9724;</span> Tue</div>
        <div><span style="color:{{weekdayColors[3]}}">&#9724;</span> Wed</div>
        <div><span style="color:{{weekdayColors[4]}}">&#9724;</span> Thu</div>
        <div><span style="color:{{weekdayColors[5]}}">&#9724;</span> Fri</div>
        <div><span style="color:{{weekdayColors[6]}}">&#9724;</span> Sat</div>
        <div><span style="color:{{weekdayColors[0]}}">&#9724;</span> Sun</div>
      </div>   
    </div>
    <div class="content-padded">
      <h2>Goals</h2>
      <div class="label">Active goals:</div>
      <div class="info">{{Goals.getActiveGoals().length}}</div>
      <div class="label">Completed goals:</div>
      <div class="info">{{Goals.goals.length - Goals.getActiveGoals().length}}</div>
    </div>
    <div class="content-padded">
      <h2>Instruments</h2>
      <div class="label">Intruments:</div>
      <div class="info">{{Instruments.instruments.length}}</div>
      <!--<div class="label">Most popular:</div>
      <div class="info">{{getInstrument(statsOverview.mostUsedInstrument).name}}</div>-->
    </div>
  </script>

  <script id="profile.html" type="text/ng-template">
    <h2 class="padded">Profile</h2>
    <div class="content-padded">
      <div class="label">Username:</div>
      <div class="info">{{profile.username}}</div>
      <div class="label">Email:</div>
      <div class="info">{{profile.email}}</div>
    </div>
    <h2 class="padded">Instruments</h2>
    <ul class="list inset">
      <li ng-repeat="instrument in Instruments.instruments">
        <a href="/instrument/{{instrument._id}}">
          <img ng-src="{{Instruments.getInstrumentImageData(instrument._id)}}">
          <strong>{{instrument.name}} ({{instrument.type}})</strong><br>
          {{instrument.description}}
          <span class="chevron"></span>
        </a>
      </li>
    </ul>
    <div>
        <a class="button-negative button-block" ng-click="logout()">Logout</a>
    </div>
  </script>

  <script id="instrument.html" type="text/ng-template">
    <h2 class="padded">{{instrument.name}}</h2>
    <div class="content-padded view" ng-show="!editMode">
      <img ng-src="{{Instruments.getInstrumentImageData(instrument._id)}}">
      <div>
        <div>
          <b>Type</b><br>
          {{instrument.type}}
        </div>
        <div>
          <b>Description</b><br>
          {{instrument.description}}
        </div>
      </div>
    </div>
    <div class="input-group" ng-show="editMode">
      <div class="input-row">
        <label>Name</label>
        <input type="text" ng-model="instrument.name" ng-disabled="!editMode" />
      </div>
      <div class="input-row">
        <label>Type</label>
        <input type="text" ng-model="instrument.type" ng-disabled="!editMode" />
      </div>
      <div class="input-row">
        <label>Description</label>
        <textarea ng-disabled="!editMode" ng-model="instrument.description"></textarea>
      </div>
      <div class="input-row">
        <label>Image</label>
        <input type="file" id="imagefield" onchange="angular.element(this).scope().setImage(this)" />
      </div>
    </div>
    <a class="button-positive button-block" ng-click="save()" ng-show="editMode">Save</a>
    <a class="button-negative button-block" ng-click="delete()" ng-show="editMode">Delete</a>
  </script>

  </body>
</html>