<!DOCTYPE html>
<html ng-app="GuitarJournalApp">
  <head>
    <meta charset="utf-8">
    <title>OSIRIS GUITAR Journal</title>

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Set Apple icons for when prototype is saved to home screen -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/app/touch-icons/og-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/app/touch-icons/og-72.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/app/touch-icons/og-57.png">

    <!-- iPhone -->
    <link href="/app/img/splash.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image">
    <!-- iPhone 5 -->
    <link href="/app/img/splash-640x1096.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">

    <!-- iPhone (Retina) -->
    <!--<link rel="apple-touch-startup-image" href="http://www.example.com/mobile/images/apple-startup-iPhone-RETINA.jpg" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)">-->

    <!-- iPhone 5 -->
    <!--<link rel="apple-touch-startup-image" href="http://www.example.com/mobile/images/apple-startup-iPhone-Tall-RETINA.jpg"  media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)">-->

    <!-- Include the compiled Ratchet CSS -->
    <link rel="stylesheet" href="/app/css/ratchet.css">
    <link rel="stylesheet" href="/app/css/guitarjournal.css">
    <script src="/app/libs/angular/angular.min.js"></script>
    <script src="/app/controllers/app.js"></script>
    <script src="/app/services/sessionservice.js"></script>
    <script src="/app/services/goalservice.js"></script>
    <script src="/app/controllers/controllers.js"></script>
  </head>
  <body ng-controller="AppCtrl">

  <!-- Make sure all your bars are the first things in your <body> -->
  <header class="bar-title">
    <a class="button-prev" href="javascript:history.back();" ng-show="pageSettings.showBackButton">
      Back
    </a>
    <h1 class="title">{{pageSettings.pageTitle}}</h1>
    <a class="button" ng-show="pageSettings.rightButtonText != null" ng-click="pageSettings.rightButtonClick()">
      {{pageSettings.rightButtonText}}
    </a>
  </header>
   <nav class="bar-tab">
   <ul class="tab-inner">
      <li class="tab-item {{pageSettings.active == 'home' && 'active' || ''}}">
        <a href="/">
          <img class="tab-icon" src="/app/img/tab-bar/home.png">
          <div class="tab-label">Home</div>
        </a>
      </li>
      <li class="tab-item {{pageSettings.active == 'sessions' && 'active' || ''}}">
        <a href="/sessions">
          <img class="tab-icon" src="/app/img/tab-bar/list.png">
          <div class="tab-label">Sessions</div>
        </a>
      </li>
      <li class="tab-item {{pageSettings.active == 'goals' && 'active' || ''}}">
        <a href="/goals">
          <img class="tab-icon" src="/app/img/tab-bar/goals.png">
          <div class="tab-label">Goals</div>
        </a>
      </li>
      <li class="tab-item {{pageSettings.active == 'stats' && 'active' || ''}}">
        <a href="/stats">
          <img class="tab-icon" src="/app/img/tab-bar/stats.png">
          <div class="tab-label">Stats</div>
        </a>
      </li>
      <li class="tab-item {{pageSettings.active == 'profile' && 'active' || ''}}">
        <a href="/profile">
          <img class="tab-icon" src="/app/img/tab-bar/profile.png">
          <div class="tab-label">Profile</div>
        </a>
      </li>
    </ul>
  </nav>


  <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
  <div class="content">
      <ng-view></ng-view>
  </div>

  <script id="home.html" type="text/ng-template">
    <h2 class="padded">{{profile.fullName}}</h2>
    <div class="content-padded">
    </div>
    <h2 class="padded">Sessions</h2>
    <ul class="list inset">
      <li ng-repeat="session in Sessions.sessions | take:3">
        <a href="/session/{{session._id}}">
          <img src="/app/img/instrument.jpg">
          <strong>{{session.date}}: {{session.length}} min. {{getInstrumentName(session.instrumentId)}}</strong><br>
          {{session.goalId && Goals.getGoalTitle(session.goalId) + " " || ""}}{{session.location && " (" + session.location + ") "  || ""}}
          <span class="chevron"></span>
        </a>
      </li>
    </ul>
    <a class="button-block inset">New session</a>
    <h2 class="padded">Instruments</h2>
    <ul class="list inset">
      <li ng-repeat="instrument in instruments | take:1">
        <a href="/instrument/{{instrument._id}}">
          <img src="/app/img/instrument.jpg">
          <strong>{{instrument.name}} ({{instrument.type}})</strong><br>
          {{instrument.description}}
          <span class="chevron"></span>
          <span class="count">{{instruments.length}}</span>
        </a>
      </li>
    </ul>
  </script>

  <script id="sessions.html" type="text/ng-template">
    <ul class="list">
      <li ng-repeat="session in Sessions.sessions">
        <a href="/session/{{session._id}}">
          <img src="/app/img/instrument.jpg">
          <strong>{{session.date}}: {{session.length}} min. {{getInstrumentName(session.instrumentId)}}</strong><br>
          {{session.goalId && Goals.getGoalTitle(session.goalId) + " " || ""}}{{session.location && " (" + session.location + ") "  || ""}}
          <span class="chevron"></span>
        </a>
      </li>
    </ul>
    <a class="button-block" ng-click="Sessions.getSessions(true)" >Load more</a>
  </script>

  <script id="session.html" type="text/ng-template">
    <div class="input-group">
      <div class="input-row">
        <label>Date</label>
        <input type="date" ng-model="session.date" ng-disabled="!editMode" />
      </div>
      <div class="input-row">
        <label>Length (min)</label>
        <input type="number" ng-model="session.length" ng-disabled="!editMode" />
      </div>
      <div class="input-row">
        <label>Goal</label>
        <select ng-model="session.goalId" ng-disabled="!editMode">
          <option ng-repeat="goal in goals" value="{{goal._id}}" ng-selected="session.goalId == goal._id">{{goal.title}}</option>
        </select>
      </div>
      <div class="input-row">
        <label>Goal contribution (%)</label>
        <input type="number" ng-model="session.goalContribution" ng-disabled="!editMode" />
      </div>
      <div class="input-row">
        <label>Instrument</label>
        <select ng-model="session.instrumentId" ng-disabled="!editMode">
          <option ng-repeat="instrument in instruments" value="{{instrument._id}}" ng-selected="session.instrumentId == instrument._id">{{instrument.name}}</option>
        </select>
      </div>
      <div class="input-row">
        <label>Other gear</label>
        <input type="text" ng-model="session.gear" ng-disabled="!editMode" />
      </div>
      <div class="input-row">
        <label>Rating</label>
        <input type="number" ng-model="session.rating" ng-disabled="!editMode" />
      </div>
      <div class="input-row">
        <label>Location</label>
        <input type="text" ng-model="session.location" ng-disabled="!editMode" />
      </div>
      <div class="input-row">
        <label>Notes</label>
        <textarea ng-disabled="!editMode" ng-model="session.notes"></textarea>
      </div>
    </div>
    <a class="button-positive button-block" ng-click="save()" ng-show="editMode">Save</a>
    <a class="button-negative button-block" ng-click="delete()" ng-show="editMode && session._id">Delete</a>
  </script>

  <script id="goals.html" type="text/ng-template">
    <ul class="list">
      <li ng-repeat="goal in Goals.goals" class="{{goal.completed && 'completed' || ''}}">
        <a href="/goal/{{goal._id}}">
          <strong>{{goal.title}}</strong><br>
          {{goal.description}}
          <span class="chevron"></span>
        </a>
      </li>
    </ul>
  </script>
  
  <script id="goal.html" type="text/ng-template">
    <div class="content-padded">
      <div class="input-group">
        <div class="input-row">
          <label>Title</label>
          <input type="text" ng-model="goal.title" ng-disabled="!editMode" />
        </div>
        <div class="input-row">
          <label>Description</label>
          <textarea ng-disabled="!editMode" ng-model="goal.description"></textarea>
        </div>
        <div class="input-row">
          <label>Complete</label>
          <input type="checkbox" ng-model="goal.completed" ng-change="goal.completionDate = getDate()" ng-disabled="!editMode" />
        </div>
      </div>
      <a class="button-positive button-block" ng-click="save()" ng-show="editMode">Save</a>
      <a class="button-negative button-block" ng-click="delete()" ng-show="editMode">Delete</a>
    </div>
  </script>

  <script id="stats.html" type="text/ng-template">
    <div class="content-padded">
      <h2>Sessions</h2>
      <div class="label">Total sessions:</div>
      <div class="info">{{statsOverview.totalSessions}}</div>
      <div class="label">Total time:</div>
      <div class="info">{{statsOverview.totalLength}} minutes</div>
      <div class="label">Average time:</div>
      <div class="info">{{statsOverview.averageLength}} minutes</div>
      <div class="label">Average rating:</div>
      <div class="info">{{statsOverview.averageRating}}</div>
      <div class="label">Sessions per week:</div>
      <div class="info">{{statsOverview.sessionsPerWeek}}</div>      
      <div class="label">Latest session:</div>
      <div class="info">{{statsOverview.latestSession}}</div> 
    </div>
    <div class="content-padded">
      <h2>Goals</h2>
      <div class="label">Active goals:</div>
      <div class="info">{{statsOverview.activeGoals}}</div>
      <div class="label">Completed goals:</div>
      <div class="info">{{statsOverview.completedGoals}}</div>
    </div>
    <div class="content-padded">
      <h2>Instruments</h2>
      <div class="label">Intruments:</div>
      <div class="info">{{statsOverview.numInstruments}}</div>
      <div class="label">Most popular:</div>
      <div class="info">{{getInstrument(statsOverview.mostUsedInstrument).name}}</div>
    </div>
  </script>


  <script id="profile.html" type="text/ng-template">
    <h2 class="padded">Profile</h2>
    <div class="content-padded">
      <div class="label">Username:</div>
      <div class="info">{{profile.username}}</div>
      <div class="label">Email:</div>
      <div class="info">{{profile.email}}</div>
    </div>
    <h2 class="padded">Instruments</h2>
    <ul class="list inset">
      <li ng-repeat="instrument in instruments">
        <a href="/instrument/{{instrument._id}}">
          <img src="/app/img/instrument.jpg">
          <strong>{{instrument.name}} ({{instrument.type}})</strong><br>
          {{instrument.description}}
          <span class="chevron"></span>
        </a>
      </li>
    </ul>
  </script>

  <script id="instrument.html" type="text/ng-template">
    <div class="inset input-group">
      <div class="input-row">
        <label>Name</label>
        <input type="text" ng-model="instrument.name" ng-disabled="!editMode" />
      </div>
      <div class="input-row">
        <label>Type</label>
        <input type="text" ng-model="instrument.type" ng-disabled="!editMode" />
      </div>
      <div class="input-row">
        <label>Description</label>
        <textarea ng-disabled="!editMode" ng-model="instrument.description"></textarea>
      </div>
    </div>
    <a class="button-positive button-block" ng-click="save()" ng-show="editMode">Save</a>
    <a class="button-negative button-block" ng-click="delete()" ng-show="editMode">Delete</a>
  </script>

  </body>
</html>