body
{
	background: url(/about/bg-blur.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family:'Helvetica Neue',Helvetica;
	font-size:10pt;
	line-height:14pt;
}

h1, h2, h3
{
	/*font-family: Georgia,'Times New Roman',Serif;*/
	font-family:Nobile;
	font-weight:700;
	color:#BD934F;
	text-transform:uppercase;
}

h1
{
	font-size:20px;
	line-height:24px;
}

h2
{
	font-size:18px;
	line-height:20px;
}

h3
{
	margin-top:20px;
	font-size:15px;
	line-height:17px;	
}

#wrapper {
	margin:auto;
	text-align:center;
}

#wrapper img {
	height:auto;
	margin-top:10px;
	margin-bottom:10px;
	max-width:100%;
}

#logo {
	margin-left:20px;
	margin-right:20px;
}

.content {
	text-align:left;
	background-color:rgba(22, 20, 16, 0.8);
	color:#BBB;
	margin:5px;
	padding:20px;
	overflow:auto;
}

a:link, a:active, a:visited
{
	color:#BD934F;
	font-weight:bold;
	text-decoration:none;
	font-size:12pt;
	border-bottom:dotted 1px #BD934F;
}

a.banner {
	text-align:center;
	display:block;
	border-bottom:none;
}

.about {
	clear:left;
	padding-top:50px;
	font-size:8pt;
}

.about a:link, .about a:active, .about a:visited {
	font-size:8pt;
}

.screenshots {
	margin-left:-15px;
	margin-right:-15px;
}

.screenshots img {
	width:31%;
	float:left;
	margin-left:15px;
	margin-right:15px;
}