<?xml version='1.0' encoding='utf-8'?>
<widget id="com.osirisguitar.journal" version="0.8.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>OG Journal</name>
    <description>
        A practice journal for musicians.
    </description>
    <author email="info@osirisguitar.com" href="http://www.osirisguitar.com">
        OSIRIS GUITAR
    </author>
    <content src="index2.html" />
    <access origin="*" />
</widget>
